*{
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#first-container{
    min-height: 100vh;
    background: url(src/img/gym-bg1.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
}
#first-container a{
    color: white;
}
#first-container a:hover{
    color: red;
}
#first-container a:active{
    color: red;
}
#quote{
    text-align: right;
}

.full-height{
    width: 100vw;
    min-height: 100vh;
}
#call , #sign-up{
    border-radius: 0.31rem;
    background-color: rgba(255, 0, 0, 0.76);
    color: white;
    font-weight: 500;
    font-size: small;
    border: 0px;
    width: 7rem;
    padding: 0.5rem;
    margin-inline: 0.5rem;
}
#sign-up:hover{
    color: yellow;
    box-shadow: 0px 0px 9px 2px white;
}
#call:hover{
    color: yellow;
    box-shadow: 0px 0px 9px 2px white;
}
#second-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4vw 4vw;
}
.bold-text{
    font-size: 3vw;
    font-weight: 700;
    margin-bottom: 2vw;
}
#fourth-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.describe{
    font-size: 1.4vw;
}
#logo{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: bolder;
    z-index: 10000;
    text-decoration: none;
}
#logo-text{
    color: red;
    font-size: 1rem;
}
#card-holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#tarif{
    text-align: center;
    font-weight: 600;
    font-size: 2.3vw;
    padding: 2vw 0;
    margin-top: 4rem;
}
.card{
    margin: 1rem;
}
#last-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 911px) {
    #card-holder{
        flex-direction: column;
    }
  }
.footer{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    width: 100vw;
    background-color: #0ACDFF;
    color: white;
}
.style-this-list{
    text-align: center;
    font-size: 1.4vw;
    font-weight: 700;
    line-height: 1.4rem;
}
#gap{
    width: 100vw;
    box-shadow: 0 -2rem 5rem 0.5rem #0ACDFF;
    background-color: #0ACDFF;
    margin: 5rem 0;
}